body {
  margin: 20px;
}

section {
  margin-top: 80px;
}

.jumbotron {
  padding: 30px;
}

nav {
  padding-left: 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #AFAFAF;
  font-size: 1.7rem;
}

.navbar-inverse .navbar-brand {
  color: #428bca;
  font-size: 2.1rem;
}