body {
  margin: 20px;
}

section {
  margin-top: 80px;
}

.jumbotron {
  padding: 30px;
}

nav {
  padding-left: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #AFAFAF;
}

.navbar-inverse .navbar-brand {
  color: #428bca;
}