// General Content Styling
.promotions.container {
  ul {
    list-style: none;
    margin: 0 -4%;

    li {
      display: inline-block;
      padding: 10px;
      margin: 0 2% 4% 2%;
      background: #F8E8D9;
      border: 2px solid #3D1F00;
      font-size: 16px;
      font-size: 1rem;
      vertical-align: top;
      box-shadow: 0 0 5px #ddd;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      img {
        max-width: 100%;
        height: auto;
        margin: 0 0 10px;
        border-radius: 10px;
      }

      h4 {
        margin: 0 0 5px;
      }

      .title {
        text-align: center;
        font-size: 2.2rem;
      }

      .description {
        text-align: center;
        font-size: 1.7rem;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      }

      .title, .description {
        text-align: center;
      }

      .discount {
        color: #d9534f;
        font-size: 2.0rem;
        text-align: center;
        font-weight: bold;
      }

      .label {
        font-size: 1.2rem;
        margin: 0 5px;
        padding: 10px;
        border-radius: 5px;
      }

      .label-danger {
        text-decoration: line-through;
      }
    }
  }
}

// Responsive Grid System - use these classes to change number of columns
ul.col-2 li {
  width: 46%;
}

ul.col-3 li {
  width: 29.333%;
}

ul.col-4 li {
  width: 21%;
}

// Media Query
@media only screen and (max-width: 680px) {
  .promotions ul {
    width: 88% !important;
    padding-left: 0;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .promotions ul li {
    display: block;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;

    img {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 95%;
    }
  }
}

