.promotions-show {
  h2.title {
    margin: -5px 0 20px 0;
  }

  img {
    width: 100%;
    max-height: 80%;
    margin-bottom: 20px;
    border: 2px solid black;
  }

  p.description {
    font-size: 3.0rem;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  .label-group {
    text-align: center;
  }

  .label {
    font-size: 3.0rem;
  }

  .label-primary {
    box-shadow:  inset 1px 2px 15px #1F3D99;
  }

  .label-danger {
    text-decoration: line-through;
    box-shadow: inset 1px 2px 15px #A30000;
  }
}

@media (max-width: 680px) {
  .promotions-show {
    h2.title {
      font-size: 2.4rem;
    }

    img {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p.description {
      font-size: 2.3rem;
    }

    .label {
      font-size: 2.3rem;
    }
  }
}