// General Content Styling
.promotions-show {
  h2.title {
    margin: -5px 0 20px 0;
    color: #d9534f;
    font-size: 3.8rem;
  }

  .image-container {
    position: relative;
    width: 97%;
  }

  img {
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid black;
  }

  p.description {
    font-size: 2.5rem;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  p.description + hr {
    border: 1px solid #5C5C5C;
    margin-bottom: -10px;
  }

  .price-group {
    text-align: center;

    span.original_price {
      text-decoration: line-through;
      font-size: 2.6rem;
      color: grey;
      margin-right: 10px;
    }

    span.promotion_price {
      font-size: 4.4rem;
      color: #E60000;
    }

    p.discount {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #0000FF;
      border-radius: 10px;
      color: #0000FF;
      font-size: 2.2rem;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-style: italic;
    }
  }
}

// Overlay and its content styling for showing purchase button with jquery
#overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;

  .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h2.caption {
      color: white;
    }

    hr {
      width: 50%;
      border-bottom: 1px solid grey;
    }

    button {
      font-size: 2.5rem;
    }
  }
}

// Media Query
@media only screen and (max-width: 991px) {
  .promotions-show {
    .jumbotron {
      width: 500px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    .image-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      img {
        height: auto;
      }
    }

    h2.title {
      text-align: center;
      font-size: 3.6rem;
    }

    p.description {
      font-size: 2.3rem;
    }

    p.description + hr {
      display: none;
    }

    .price-group {
      float: right;
      margin-top: -20px;
    }

    p.discount {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) {
  .promotions-show {
    h2.title {
      font-size: 4.0rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .promotions-show {
    p.description {
      font-size: 3.2rem;
    }

    span.original_price {
      font-size: 3.0rem !important;
    }

    span.promotion_price {
      font-size: 4.8rem !important;
    }

    p.discount {
      font-size: 2.8rem !important;
      width: 50% !important;
    }
  }
}

@media (max-width: 768px) {
  .promotions-show {
    .jumbotron {
      width: 430px;
    }

    h2.title {
      font-size: 3.2rem;
    }
  }
}