// General Content Styling
.promotions.container {
  ul {
    list-style: none;

    li {
      font-size: 16px;
      font-size: 1rem;

      .img-container {
        position: relative;
      }

      img {
        width: 100%;
        height: 300px;
      }

      .title {
        font-size: 1.9rem;
        margin-top: 5px;
        margin-bottom: 5px;

        a {
          color: #F5F5F5;
        }

        a:hover {
          color: white;
        }
      }

      .caption {
        background: #4C4C4C;
      }

      .description {
        display: none;
      }

      .title, .description {
        text-align: center;
      }

      .discount {
        color: #428bca;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
      }

      .price-group {
        text-align: center;

        .original-price {
          font-size: 1.9rem;
          font-weight: bold;
          color: #282828;
          padding-right: 10px;
          text-decoration: line-through;
        }

        .promotion-price {
          font-size: 2.7rem;
          color: #d9534f;
        }
      }
    }
  }
}

// Overlay and its content styling for showing purchase button with jquery
.description-overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  text-align: center;

  h2 {
    color: white;
    font-size: 2.0rem;
    padding: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

// Media Query
@media (max-width: 992px) {
  .promotions ul li {
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .promotions ul li {
    .title {
      font-size: 2.4rem !important;
    }
    img {
      height: 350px !important;
    }
  }
}

@media (max-width: 768px) {
  .promotions ul li {
    .thumbnail {
      width: 435px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      height: auto !important;
    }

    .title {
      font-size: 2.4rem !important;
    }
  }
}

